<!-- <div class="main-container__bg" [ngClass]="{'dark': globals.darkModeActive}"></div> -->
<!-- <div class="root__container"> -->


    <app-header></app-header>
    <main>
        <div class="content">
            <div class="">
                <router-outlet></router-outlet>
            </div>
        </div>

        <!-- <app-svg-definitions class="hide-svgs" ></app-svg-definitions> -->
    </main>

    <footer class="main__footer clear">
        <small class="copyright__text">Copyright © 2018 Fatima</small>
    </footer>
<!-- </div> -->
